label[for="title"]{
    margin-top: 1rem;
}

input[type="date"]:invalid{
    color: rgba(66, 66, 100, 0.5);
}

input[type="date"]{
    color: var(--text-color);
}


label{
    display: block;
    margin-bottom: .1rem;
    font-weight: 500;
    color: var(--text-color);
}

input, select{
    outline-width: 0;
    border:0;
    background-color: transparent;
    width: 100%;
    margin-bottom: .6rem;
    max-height: 1rem;
    min-height: 1rem;
    color: var(--text-color);
    font-weight: 100;
}

input::placeholder{
    color: rgba(66, 66, 100, 0.5);
}

h1{
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    border: 0;
}

h1::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: rgba(66, 66, 100, 0.5);
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
}

button{
    outline-width: 0;
    border: 0;
    margin: .4rem 0;
    background-color: var(--intence-color);
    color: var(--text-color);
    font-weight: 800;
    width: 100%;
    padding: .4rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}